.positives-layout{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.positives-holder{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}