.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10vh;
  margin-bottom: 2vh;
  position: relative;
}

.step {
  display: flex;
  align-items: center;
  margin: 20px;
  position: relative;

  z-index: 1;
}



.step-number {
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
  border: 2px solid #003b4a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #003b4a;
}

.step.completed .step-number {
  background-color: #003b4a;
  color: white;
}

.step.active .step-number {
  background-color: white;
  border: 2px solid #003b4a;
  color: #003b4a;
}

.step-title {
  font-weight: 500;
  color: #003b4a;
}
