.terms-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .terms-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }


  .spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 3px solid #1976d2;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  
  .terms-subtitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .terms-section {
    margin-bottom: 20px;
  }
  
  .terms-section ul {
    padding-left: 20px;
    list-style-type: disc;
  }
  