

.overlay-image{
    height: 100vh;
}

.overlay{
    height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    position: absolute;
    width: 100%;
    height: inherit;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}