body{ 
    margin: 0; 

  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

    background-color: white;
    padding-bottom: 100px;
}
      
button{
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: inherit;
    margin: 5px;
    cursor: pointer;
}

.addtraveler{
        padding: 10px 25px;
background-color: rgb(205 219 255);
    color: rgb(57 79 225);
    border: 0;
    border-radius: 15px;
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s all;
}



.removetraveler{
        padding: 10px 25px;
background-color: rgb(255, 205, 205);
    color: rgb(225, 57, 57);
    border: 0;
    border-radius: 15px;
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s all;
}


.removetraveler:hover{
    color: red;
}

.addtraveler:hover {
    color: blue;
}


li{
    margin-top: 10px;
}

h1{
    font-size: calc(2.5vw + 20px);
    margin: 0;
}

h3{
    font-size: calc(1vw + 20px);
    color: rgba(0, 0, 0, 0.829);
}

select{
    padding: 5px 10px;
    color: white;
    font-size: Arial;
    background: none;
    border-radius: 5px;
    font-family: inherit;
}

option{
    color: black;
}