body{ 
    margin: 0; 

  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

    background-color: white;
    padding-bottom: 100px;
}
      
button{
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: inherit;
    cursor: pointer;
}

.select option[disabled] {
  color: #ccc; /* Light gray (brighter) */
}


@media (max-width: 768px) {
  .apply-form-container {
    flex-direction: column;
  }
  .mobile-down{
    display: flex;
    align-items: flex-start;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 27px -14px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 27px -14px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 27px -14px rgba(66, 68, 90, 1);
    width: calc(100% - 20px);
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 2px black;
  }

}

.ReactFlagsSelect-module_selectBtn__19wW7{
    border-radius: 15px!important;
    padding: 10px!important;
}

.addtraveler{
        padding: 10px 25px;
background-color: rgb(205 219 255);
    color: rgb(57 79 225);
    border: 0;
    border-radius: 15px;
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s all;
}



.removetraveler{
        padding: 10px 25px;
background-color: rgb(255, 205, 205);
    color: rgb(225, 57, 57);
    border: 0;
    border-radius: 15px;
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s all;
}


.removetraveler:hover{
    color: red;
}

.addtraveler:hover {
    color: blue;
}


li{
    margin-top: 10px;
}

h1{
    font-size: calc(2.5vw + 20px);
    margin: 0;
}

h3{
    font-size: calc(1vw + 20px);
    color: rgba(0, 0, 0, 0.829);
}

select{
    padding: 5px 10px;
    font-size: inherit;
    background: none;
    border-radius: 5px;
    font-family: inherit;
}

option{
    color: black;
}